<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{name}}</title>
  <link rel="shortcut icon" type="image/png" href="http://abotars.hipch.at/bot/{{key}}.png">
  <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.6/css/aui.min.css" media="all">
  <link rel="stylesheet" href="{{furl '/css/homepage.css'}}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//aui-cdn.atlassian.com/aui-adg/5.9.6/js/aui.min.js"></script>
</head>

<body id="aui-flatpack" class="aui-page-fixed">
  <h3>PRIVACY STATEMENT</h3>
  <p>Your privacy is important to FightFour. This privacy statement provides information about the personal information that FightFour collects, and the ways in which FightFour uses that personal information.</p>
  <br />
  <h3>Personal information collection</h3>
  <p>
    FightFour may collect and use the following kinds of personal information:
    <ul>
      <li>Organization Name</li>
      <li>Name of room/team</li>
      <li>Names/usernames of any users who either challenge or are challenged to a game</li>
    </ul>
  </p>

  <h3>Using personal information</h3>
  <p>
    FightFour may use your personal information to:
    <ul>
      <li>Keep track of wins and losses</li>
      <li>Tag you by username when you have been challenged or it is your turn.</li>
    </ul>
    <br />
    Where FightFour discloses your personal information to its agents or for these purposes, the agent in question will be obligated to use that personal information in accordance with the terms of this privacy statement.
    <br />
    In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, FightFour may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
  </p>

  <h3>Securing your data</h3>
  <p>
    FightFour will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
    <br />
    FightFour will store all the personal information you provide on secured servers provided by Heroku.

    [Information relating to electronic transactions entered into via this website will be protected by encryption technology.]
  </p>
  <br />
  <h3>Cross-border data transfers</h3>
  <p>
    Information that FightFour collects may be stored and processed in and transferred between any of the countries in which FightFour operates to enable the use of the information in accordance with this privacy policy.
    <br />
    [In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.]
    <br />
    You agree to such cross-border transfers of personal information.
  </p>
  <br />
  <h3>Updating this statement</h3>
  <p>
    FightFour may update this privacy policy by posting a new version on this website.
    You should check this page occasionally to ensure you are familiar with any changes.
  </p>
  <h3>Other websites</h3>
  <p>This website contains links to other websites.
    <br />
    FightFour is not responsible for the privacy policies or practices of any third party.</p>

    <h3>Contact FightFour</h3>

    <p>If you have any questions about this privacy policy or FightFour&rsquo;s treatment of your personal information, please a comment or message through HipChat&rsquo;s channels.</p>

    <h3>Credit</h3>

    <p>This document was created using a Contractology template available at <a href="http://www.contractology.com">http://www.contractology.com</a>.</p>

  </body>

  </html>